:root{
   --prime-color: #FDA400;
    --secondary-color: #131850;
    --white-color: #FFFFFF; 
    --gray-color: #7B7B7B;
    --light-secondary-color: rgba(253, 164, 0, 0.1) 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
}

h1,
h2, 
h3 {
    font-family: 'Abril Fatface', cursive;
    color: var(--secondary-color);
    letter-spacing: max(5px 1vw);
    font-weight: normal;
}

/* helper classes */
.bordered-box {
  padding: 8px 20px;
  background-color: var(--light-secondary-color);
  border: 2px solid var(--prime-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  background-color: var(--prime-color);
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 18px;
  color: var(--white-color);
}

.btn-primary {
    background-color: var(--prime-color);
    color: var(--white-color);
    border-radius: 10px;
    border: 2px solid var(--white-color);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 8px 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
}

.main-container { 
}

/* hero styles */
.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px;
}
.header-nav { 
    display: flex;
    list-style: none;
    width: 720px;
    justify-content: space-between;
    align-items: center;
}
.header-nav-btn { 
    color: var(--secondary-color);
    padding: 6px 12px;
    cursor: pointer;
    border: 2px solid transparent;
    font-size: 26px;
    font-weight: 500px;
}
.header-nav-btn:hover { 
    color: var(--prime-color);
    background-color: var(--light-secondary-color);
    border: 2px solid var(--prime-color);
    border-radius: 10px;
}
.header-nave-btn--book {
    background-color: var(--prime-color);
    color: var(--white-color);
    border-radius: 10px;
    border: 2px solid var(--white-color);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* hero styles */
.hero { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFCFF;
    background-image: url(./assets/hero/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left:120px;
    height: 100vh;
}

.hero-left { 
    width: max(430px, 32vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}
.hero-left-title { 
    text-align: center;
    font-size: max(60px, 5vw);
    line-height: min(130px, 6vw);
}
.hero-left-hrl {
    width: 80%;
    height: 3px;
    background: linear-gradient(90deg, var(--light-secondary-color) 0%,  var(--prime-color) 51.56%, var(--light-secondary-color) 100%);
    margin: 20px 0;
}
.hero-left-text { 
  font-size: max(20px, 1.2vw);
  line-height: max(30px, 1.5vw);;
  color: var(--gray-color);
  width: 94%;
}
.hero-left-booking { 
  margin-top: 50px;
  min-width: min(400px, 30vw);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-left-booking-title { 
  font-size: max(50px, 3vw);
  line-height: 67px;
  letter-spacing: 0.01em;
}
.hero-left-booking-options { 
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  width: 100%;
  max-width: 400px;
  justify-content: space-between;
}
.hero-left-booking-option {
  cursor: pointer;
}
.booking-option-label {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
}
.booking-option-date { 
  font-weight: 500;
}
.booking-option-time { 
  font-weight: 500;
}
.booking-option-guest { 
}
.guest-remove { }
.guest-number { }
.guest-add { }
.hero-right { 
  width: 65%;
  height: 100%;
  background-image: url(./assets/hero/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -100px ;
}